html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background-color: floralwhite;
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: "Love Ya Like A Sister", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-radius: 10px;
  outline: none;
}

input {
  background-color: bisque;
  color: coral;
  font-size: 1.5vmax;
}

input:disabled {
  background-color: #aaa;
  color: #eee;
}

input[type="range"] {
  height: 0;
}

button {
  cursor: pointer;
  color: ghostwhite;
  font-size: 2vmax;
  background-color: lightcoral;
  outline: none;
}

button:disabled {
  cursor: not-allowed;
  background-color: lightgrey;
  color: #999;
}

button:not(:disabled):hover {
  background-color: #ff8181;
}

button:not(:disabled):active > span {
  position: relative;
  top: 5px;
}

button:focus {
  border-color: #666;
}

@keyframes logo-border-keyframes {
  0% {
    border-color: bisque;
    border-width: 2vmax;
  }
  50% {
    border-color: white;
    border-width: 5vmax;
  }
  100% {
    border-color: bisque;
    border-width: 2vmax;
  }
}

.logo-border-animation {
  animation-name: logo-border-keyframes;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes emoji-spin-keyframes {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(720deg);
  }
}

.emoji-spin {
  animation-name: emoji-spin-keyframes;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@media screen and (max-width: 500px) {
  button {
    font-size: 4vmax;
  }
}
.message {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  z-index: 4000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(100, 100, 100, 0.4);
  font-size: 6vmax;
  text-align: center;
}
.message-text {
  width: 80%;
}
#root {
  height: 100%;
}
.column-center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 1%;
  background-color: transparent;
  padding: 5%;
  border-radius: 2px;
  width: 20vmax;
  border: 20px bisque dotted;
  text-align: center;
  box-shadow: inset 0 0 0 20px white;
}
.logo-text {
  color: coral;
  font-family: "Monofett";
  line-height: 0.6;
  font-size: 8vmax;
  text-shadow: 5px 5px 0px white;
}
.buttons {
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 75%;
  z-index: 100;
}
.github {
  background-color: bisque;
  color: lightcoral;
}
.github:hover {
  background-color: bisque;
  color: lightcoral;
}
.board {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: transparent;
  border-radius: 20px;
  border: 20px dotted bisque;
}
.row {
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.emoji-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 4vmax;
  height: 4vmax;
  margin: 2vmax;
}
.emoji {
  z-index: 1;
  cursor: pointer;
  border: 5px solid bisque;
  margin: 0px;
  line-height: 1.1;
  width: 6vmax;
  height: 6vmax;
  min-width: 6vmax;
  min-height: 6vmax;
  font-size: 6vmax;
}
.dot {
  position: absolute;
  z-index: 2000;
  border-radius: 100%;
  background-color: bisque;
  border: 5px solid blue;
  opacity: 0.5;
  width: 6vmax;
  height: 6vmax;
}
.host.emoji-container {
  width: 20vmax;
  height: 20vmax;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
}
.host .emoji {
  z-index: 1;
  cursor: pointer;
  border: 0px solid bisque;
  width: 20vmax;
  height: 20vmax;
  font-size: 20vmax;
  margin: 0px;
  line-height: 1.1;
  margin-bottom: 20px;
}
.selections {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 20px;
}
.emoji-selection-container {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
}
.emoji-selection {
  z-index: 1;
  cursor: pointer;
  border: 5px solid bisque;
  font-size: 5vmax;
  width: 5vmax;
  height: 5vmax;
  min-width: 5vmax;
  min-height: 5vmax;
  margin: 0px;
  line-height: 1.1;
}
.blank {
  border: 5px solid transparent;
  font-size: inherit;
}
.spin-button {
  z-index: 200;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid bisque;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
